<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
This is events page.
<p>
  <span id="eventsTitle" th:text="'이벤트 리스트 조회'">This is events page.</span>
</p>
<table id="eventsTable">
  <thead>
  <tr>
    <th>장소 ID</th>
    <th>이벤트명</th>
    <th>이벤트 상태</th>
    <th>시작 일시</th>
    <th>종료 일시</th>
    <th>현재 인원</th>
    <th>최대 수용 인원</th>
    <th>비고</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="placeId">1</td>
    <td class="eventName">디폴트 테스트 이벤트</td>
    <td class="eventStatus">OPENED</td>
    <td class="eventStartDatetime">2021-01-01 09:00:00</td>
    <td class="eventEndDatetime">2021-01-01 10:00:00</td>
    <td class="currentNumberOfPeople">0</td>
    <td class="capacity">10</td>
    <td class="memo">10</td>
  </tr>
  </tbody>
</table>
</body>
</html>